.header_div {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid white;
}

.header_div .home a button{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.header_div>header {
    height: 10%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header_div>header>div {
    height: 100%;
    width: 100%;
    align-items: center;
    flex: 1;
}

.header_div>header>div>a {
    text-decoration: none;
    color: white;
}

.header_div>header p {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 42px;
}

.header_div>header>.options {
    width: 25%;
    height: 100%;
}

.header_div>header>.rules {
    width: 50%;
}

.header_div>header>.options>button>a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.header_div>header>.options>button {
    margin: 10px;
}