.chat_content_box {
    background-color: grey;
    border-radius: 20px;
    width: max-content;
    height: min-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px
}

.chat_content_top > .chat_content_top_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-right: 5px;
    width: 100%;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

.chat_content_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat_content_top i:hover {
    cursor: pointer;
}

.chat_content_parent {
    display: flex;
    float: left;
}

.chat_content_parent .options {
    background-color: grey;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat_content_parent .options i:hover {
    cursor: pointer;
}

.chat_content_parent .options i {
    margin: 5px;
}

.chat_content_parent .options .report_flag {
    color: red;
}

.chat_editing {
    position: fixed;
    top: 33%;
    left: 33%;
    z-index: 999;
    width: 33%;
    height: 33%;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.chat_editing > .prompt {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    height: 20%;
}

.chat_editing > .body {
    height: 60%;
}

.chat_editing .cancel_div {
    float: right;
}