html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.data_home_page>header {
    font-size: 42px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 20px;
}

.data_home_page * {
    border: 1px solid red;
}

.data_home_page>.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data_home_page>.columns>.main {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}